html, body {
    font-family: 'Open Sans', san-serif, Helvetica, Arial; // consider adding better fonts
    font-size: 20px;
    line-height: 1.15;
    background: #eeeeee;
    scroll-behavior: smooth; /* Not supported in safari */
}

/* override default body margin */
body {
    margin: 0;
    color: #000121;
}

.logo {
    max-width: 103.25px;
    max-height: 25px;
    margin-top: 5px;
}

.container {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
            " n " /* for nav bar */
            " i " /* for banner */
            " a " /* for intro */
            " m " /* for team */
            " c " /* for contact */
            " f "; /* for fotter */

    /* for overriding bootstrap default max-width and padding */
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
}

/* Assignemnt of the grid-area of main grid and settings */
.container > nav {
    grid-area: n;
    height: 100px;

    background: #000121;
    color: #eeeeee;
}

.container > #intro {
    grid-area: i;
    padding: 4em 20%;

    background: #002742;
    color: #eeeeee;
}

.container > #about {
    grid-area: a;
    padding: 3em 20% 0 20%;

    display: grid;
    grid-auto-rows: minmax(50px, auto); grid-template-areas: " h " " cards "; /* for overriding bootstrap default max-width and padding*/
}

.container > #team {
    grid-area: m;
    padding: 3em 20%;

    display: grid;
    grid-auto-rows: minmax(50px, auto); grid-template-areas: " t-h " " t-cards "; /* for overriding bootstrap default max-width and padding*/
}

.container > #contact {
    grid-area: c;
    padding: 2em 20%;

    background: #000121;
    color: #eeeeee;

    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
            ' i '
            ' f ';
}

.container > footer {
    grid-area: f;
    background: #000121;
    color: #eeeeee;
    padding-left: 20%;
    padding-right: 20%;
}

/* Make i tag display normal font style by default */
i {
    font-style: normal;
}

/* Note: a lot of styling has been accomplished by default bootstrap class. Please
/* consult the documentation of bootstrap navbar when in doubt */
/* Bootstrap navbar CSS styling */

/* Override bootstrap default */
nav .logo {
    position: relative;
    left: 20%;
}


.navbar {
    padding: 0;
}


.navbar-dark .navbar-nav .nav-link {
    background: #000121;
    color: #eeeeee;
    letter-spacing: 0.5px;
    font-size: 0.9em;
}

/* Making display of dropdown text align to grid/logo */
.navbar-toggler {
    position: relative;
    right: 20%;
}

#navbarNavDropdown.navbar-collapse.collapse.show i {
    position: relative;
    left: 20%
}

#navbarNavDropdown.navbar-collapse.collapsing i {
    position: relative;
    left: 20%
}

/* Banner font and spacing */
#intro > h1 {
    color: #eeeeee;
    font-size: 2.3em;
    margin-bottom: 1em;
}

#intro > p {
    letter-spacing: 1.5px;
    font-size: 1em;
    line-height: 28px;
    font-weight: 300;

    color: #b1b1b1;

    margin-bottom: 4em;
}

#intro > .my-0 {
   border-top: 0.5px solid #a0a0a0;
   padding-bottom: 1em;
   margin-left: 0;

   width: 30%;
   min-width: 100px;
}

#intro > a , #intro > a:hover{
    color: #878787;
    font-size: 0.8em;
    letter-spacing: 3px;
}


/* About Section grid are assignment */
#about > .title {
    grid-area : h
}

/* For mobile: default settings of cards are 100% of the whole vp */
#about > #cards {
    grid-area : cards;
    width: 100%;
    display: block;
}

/* About section settings */
#about p {
    color: #a0a0a0;
    letter-spacing: 0.5px;
}

.title {
    padding-top: 1em;
    padding-bottom: 1em;
}

h6 {
    font-size: 1.8em;
    color: #000121;
}

.info h5 {
    padding-bottom: 1em;
}

/* Mobile: 100% of the vp */
.card {
    width: 100%;
    border-radius: 0.5em;

    margin-right: 0.5em;
    padding-top: 2em;
    margin-bottom: 2em;

    background: #000121;
    color: #eeeeee;
}

.card-body > h6 {
    color: #eeeeee;
}

#team > .title {
    grid-area : t-h
}

#team > #founder-cards {
    grid-area : t-cards;
    width: 100%;
    display: block;
}

#founder-cards .card {
    color: #000121;
    background: #eeeeee;
    border-color: #000121;
    padding-top: 0;
}

#founder-cards .card:hover {
    color: #eeeeee;
    background: #002742;
}

#founder-cards .card-body > h6 {
    font-size: 1em;
    color: #000121;
}

#founder-cards .card-body:hover > h6 {
    color: #eeeeee;
}

#founder-cards .card-body ul {
    padding-left: 1rem;
}

#founder-cards .card-body li {
    position: relative;
    font-size: 14px;
    color: #4f4f4f;
    padding-left: 5px;
    line-height: 1.15rem;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 10px;
}

#founder-cards .card-body:hover li {
    color: #eeeeee;
}

#founder-cards hr {
   border-top: 2px solid #000121;
   width: 10%;
   min-width: 60px;
   margin-left: 0;
}

#founder-cards .card-body:hover hr {
    border-top: 2px solid #eeeeee;
}

/* Contact grid area assignment */
#contact > .info {
    grid-area: i;
    display: block;

    text-align: left;
}

#contact > form {
    grid-area: f;
    display: block;

    text-align:left;
    justify-content: center;
    padding-top: 2em;
}

#contact h5 {
    margin-bottom: 0;
    font-size: 1.5em;
}


.info > div {
    padding-bottom: 2em;
}

/* Social glyphicons */
a {
    color: #878787;
}

a:hover {
    color: #eeeeee;
}

.icons a {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 20px;
    text-align: center;
    border-radius: 20%;
    background: #878787;
    margin-right: 15px;
    padding-top: 3px;
}

.icons a:hover{
    background: #eeeeee;
}

/* form setting */
#contact form h5 {
    padding-bottom: 2em;
}

form label {
    padding: 0.3em 0;

    font-size: 1.2em;
}

form input {
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.85rem;
    font-size: 1em;

    background-color: #eeeeee;
    min-width: 100px;
    width: 100%;

    color: #000121;
}

form textarea {
    border-radius: 0.7rem;
    padding: 1rem;
    background-color: #eeeeee;
    margin: 0.25em 0 0 0;
    font-size: 1em;

    autocomplete: on;
    spellcheck: default;
    minlength: 10;
    maxlength: 8000;
    min-width: 100px;
    width: 100%;
    resize: none;

    color: #000121;
}

form textarea:hover{
    resize: vertical;
}

/* Buttons of form */
.btn-outline-primary {
    background-color: #353535;
    color: #eeeeee;
    border: #353535;
    border-radius: 0.7rem;
    font-size: 1em;

}

.btn-outline-secondary {
    background-color: #eeeeee;
    color: #353535;
    border: #eeeeee;
    border-radius: 0.7rem;
    font-size: 1em;
}

.buttons {
    text-align: right;
    padding: 1em;
}

.buttons div {
    display: inline;
    padding: 0 0 0 0.6em;
}

button {
    padding: 1em;
}

.btn-link, .btn-link:hover{
    color: #eeeeee;
    font-size: 18px;
}


/* Footer */
footer .logo {
    margin-top: 2em;
    float: right;
}


footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Responsiveness settings - always starts with smallest min width */
@media(min-width: 750px){
    img {
        max-width: 60%;
        max-height: 60%;
    }

    .logo {
        max-width: 232.3125px;
        max-height: 56.25px;
        margin-top: 5px;
    }

    .navbar-nav {
        position: relative;
        right: 23%;
    }


    .container > #intro {
        padding: 14em 20%;
    }

    footer .logo {
        margin-top: 0;
    }
}

/* Each block applies progressively in addition to the previous rules */
@media(min-width: 950px){
    .container > #contact {
    grid-template-areas: ' i  f ';
    align-items: center;
    }
}

/* Each block applies progressively in addition to the previous rules */
@media(min-width: 1250px){
    /* changing layout of cards - flex box align to the right */
    .container > #about > #cards {
        display: flex;
        width: 750px;
        justify-self: end;
    }

    .container > #team > #founder-cards {
        display: flex;
        width: 750px;
        justify-self: end;
}

/* Each block applies progressively in addition to the previous rules */
@media(min-width: 1550px){
    /* changing layout of grid - make title aligned to center adajacent to cards */
    .container > #about {
        grid-auto-rows: minmax(50px, auto); grid-template-areas: " h cards";
        align-items: center;
    }

    .container > #team {
        grid-auto-rows: minmax(50px, auto); grid-template-areas: " t-h t-cards";
        align-items: center;
    }

    .title {
        padding: 0;
    }
}
